{% extends 'base.html' %} {% block title %}写真机构 - {{data.meta.site_name}}{% endblock %} {% block metadata %}

<meta name="keywords" content="{{ data.meta.keywords }}" />
<meta name="description" content="{{ data.meta.description }}" />
<meta name="og:url" content="{{ request.url }}" />
<meta name="og:title" content="写真机构 - {{data.meta.site_name}}" />
<meta name="og:description" content="{{ data.meta.description  }}" />
<meta name="og:image" content="{{ data.organizes[0].cover_backup }}" />
<meta name="twitter:url" content="{{request.url}}" />
<meta name="twitter:title" content="写真机构 - {{data.meta.site_name}}" />
<meta name="twitter:description" content="{{ data.meta.description }}" />
<meta name="twitter:image" content="{{ data.organizes[0].cover_backup }}" />
<meta name="twitter:card" content="summary_large_image" />

{% endblock %}

{% block head %}



{% endblock %}

{% block content %}


<div class="row px-2 div-nav">
    <nav class="col-md-12 col-sm-12 pl-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="pl-2">
                <i class="bi bi-signpost-2-fill"></i>
            </li>
            <li class="px-2">当前位置:</li>
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/organize">写真机构</a></li>
            <li class="breadcrumb-item active">列表第{{data.page.page_index}}页</li>
        </ol>
    </nav>
</div>
<div id="gallery" class="row gallery_inner_four gallery-organize mx-0">
    {% for item in data.organizes %}
    <div class="col-lg-2 col-md-4 col-6 gallery_item px-2">
        <div class="gallery_post">
            <div class="img">
                <a href="/organize/{{item.name}}" class="h-100" target="_blank">
                    <img src="/static/enoma/images/loading.gif" data-src="{% if item.cover_backup %}{{item.cover_backup}}{%else%}/static/enoma/images/meitu-square.png{% endif %}" referrerpolicy="no-referrer" alt="{{item.title}}" class="lazy" />
                </a>
            </div>
            <div class="gallery_content">
                <a href="/organize/{{item.name}}" target="_blank">
                    <h3>{{item.title}} ({{item.organize_count}})</h3>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="d-flex justify-content-center">
    {{ pagination('?page=', data.page) }}
</div>
{% endblock%}

{% block bodyscript %}

{% endblock %}