{% extends 'base.html' %} {% block title %}{{data.tag.title}} - {{data.meta.site_name}}{% endblock %} {% block metadata %}

<meta name="keywords" content="{{ data.meta.keywords }}" />
<meta name="description" content="{{ data.tag.description }}" />
<meta name="og:url" content="{{ request.url }}" />
<meta name="og:title" content="{{ data.tag.title }} - {{data.meta.site_name}}" />
<meta name="og:description" content="{{ data.tag.description  }}" />
<meta name="og:image" content="{% if data.tag.cover %}{{data.tag.cover}}{%else%}{{data.meta.site_url}}/static/enoma/images/meitu-square.png{% endif %}" />
<meta name="twitter:url" content="{{request.url}}" />
<meta name="twitter:title" content="{{ data.tag.title }} - {{data.meta.site_name}}" />
<meta name="twitter:description" content="{{ data.tag.description }}" />
<meta name="twitter:image" content="{% if data.tag.cover %}{{data.tag.cover}}{%else%}{{data.meta.site_url}}/static/enoma/images/meitu-square.png{% endif %}" />
<meta name="twitter:card" content="summary_large_image" />

{% endblock %}

{% block head %} {% endblock %}

{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>'" class="pl-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="pl-2">
                <i class="bi bi-signpost-2-fill"></i>
            </li>
            <li class="px-2">当前位置:</li>
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item"><a href="/tags">主题合集</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/tags/{{data.tag.name}}">{{data.tag.title}}</a></li>
            <li class="breadcrumb-item active">第{{data.page.page_index}}页</li>
        </ol>
    </nav>

    <div class="card flex-row flex-wrap my-3 mx-2">
        <div class="row g-0 w-100">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <img class="model-thumb" src="{% if data.tag.cover %}{{data.tag.cover}}{%else%}/static/enoma/images/meitu-square.png{% endif %}"  referrerpolicy="no-referrer"  alt="{{data.tag.title}}" />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="card-body">
                    <h1 class="card-title">{{data.tag.title}}</h1>
                    <p class="card-text">{{data.tag.summary}}</p>
                    {% if data.tag.description %}
                        <p class="card-text">{{data.tag.description}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs my-2 mx-2">
        {% for category in data.categories %}
            <li class="nav-item">
                <a class="nav-link {% if data.category_name == category.name %} active {% endif %}" aria-current="page" href="{% if category.name == 'beauty' %}/tags/{{data.tag.name}}{% else %}/tags/{{data.tag.name}}/{{category.name}}{% endif %}">{{category.title}}</a>
            </li>
        {% endfor %}
    </ul>
    <div id="gallery" class="row gallery_inner_four mx-0">
        {% if data.category_name == 'beauty' or data.category_name == 'handsome' %}
            {% if data.albums|length > 0 %}
                {% for item in data.albums %}
                <div class="col-lg-3 col-md-4 col-6 gallery_item px-2">
                    <div class="gallery_post">
                        <div class="img">
                            <a href="/{{data.category_name}}/{{item.name}}" target="_blank">
                                <img src="/static/enoma/images/loading.gif" data-src="{{item.cover}}" referrerpolicy="no-referrer" alt="{{item.title}}" class="lazy" />
                            </a>
                        </div>
                        <div class="gallery_content">
                            <a href="/{{data.category_name}}/{{item.name}}" target="_blank">
                                <h3>{{item.title}}</h3>
                            </a>
                            {% if item.model_title %}
                            <a href="/model/{{item.model_name}}" target="_blank">
                                <div class="g_tag"><i class="bi bi-person-circle"></i> {{item.model_title}}</div>
                            </a>
                            {% elif item.model_name %}
                            <div class="g_tag"><i class="bi bi-person-circle"></i> {{item.model_name}}</div>
                            {% endif %}
                            <div class="row">
                                <div class="g_tag col-auto">
                                    <i class="bi bi-calendar-date"></i>
                                    {{item.origin_created_at | date}}
                                </div>
                                <div class="g_tag col text-end">
                                    <i class="bi bi-eye"></i>
                                    {{item.view_count}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="w-100 text-center my-5 py-5">
                暂无相关内容
                </div>
            {% endif %}
        {% else %}
            {% if data.medias|length > 0 %}
                {% for item in data.medias %}
                <div class="col-lg-3 col-md-4 col-6 gallery_item px-2">
                    <div class="gallery_post">
                        <div class="img">
                            <a href="/{{data.category_name}}/{{item.name}}" target="_blank">
                                <img src="/static/enoma/images/loading.gif" data-src="{{item.cover}}" referrerpolicy="no-referrer" alt="{{item.title}}" class="lazy" />
                            </a>
                        </div>
                        <div class="gallery_content">
                            <a href="/{{data.category_name}}/{{item.name}}" target="_blank">
                                <h3>{{item.title}}</h3>
                            </a>
                            <div class="row">
                                <div class="g_tag col-auto">
                                    <i class="bi bi-calendar-date"></i>
                                    {{item.origin_created_at | date}}
                                </div>
                                <div class="g_tag col text-end">
                                    <i class="bi bi-eye"></i>
                                    {{item.view_count}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="w-100 text-center my-5 py-5">
                暂无相关内容
                </div>
            {% endif %}
        {% endif %}
    </div>

    {% if data.page.page_count > 1 %}
        <div class="d-flex justify-content-center">
            {{ pagination('?page=', data.page) }}
        </div>
    {% endif %}

</div>


{% endblock%}