.f_logo img,
.logo_info img {
    width: 128px;
    height: 32px;
}

div.gallery_post_two div.img {
    /* display: flex; */
    justify-content: center;
}

.gallery_inner_four .gallery_item .gallery_post .img {
    /* display: flex; */
    justify-content: center;
    border-radius: 0;
    /* height: 60%; */
}

.gallery_item .gallery_post .img img {
    /* height: 80% !important; */
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
}

/* navbar css start */
#navbarSupportedContent {
    justify-content: right;
}

@media (min-width: 991px) {
    #navbarSupportedContent form {
        margin-left: 2rem;
    }
}
@media (max-width: 991px) {
    #navbarSupportedContent form {
        padding: 0px 20px 20px 20px;
        background-color: #fff;
    }

    .header_area form button {
        color: #101010;
        border-color:#101010;
    }

    .header_area form input.form-control {
        max-width: 65%;
    }
}

.menu_toggle .hamburger span {
    background: #fff;
}


.navbar_fixed.header_area form button {
    color: #101010;
    border-color:#101010;
}

/* navbar css end */

/* carousel */
.carousel-inner img {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

.carousel-inner .carousel-caption h5{
    color: #fff;
}

@media (min-width: 991px){
    .carousel-inner img {
        height: 800px;
    }
}

@media (max-width: 991px){
    .carousel-inner img {
        height: 400px;
    }
}

/* carousel end  */

/* breadcrumb */
#order a{
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 991px) {
    nav ol.breadcrumb {
        margin-bottom: auto;
    }
    div.div-nav{
        padding-bottom: 0.5rem;
    }
}

/* breadcrumb end */